  
  
  table{
    border-collapse: collapse;
    width: 50%;
    border-spacing: 15px;
    margin: auto;
    margin-top: 3vh;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1.5vh;
    color: #EE82EE;
}
th,
td {
  padding: 5px;
  width: fit-content;
}

td i {
  margin: 0 1vw;
}
th{
  text-align: center;
}
th:first-child{
  border-top-left-radius: 10px;
}
th:last-child{
  border-top-right-radius: 10px;
}

tr:hover {
background-color: #4C326E;
}
td {    
    text-align: center;      
  }

  
tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}
tr:last-child td:first-child{
  border-bottom-left-radius: 10px;
}
  td .claseButton{
    width: 50%;
    min-width: 0;

  }

  @media only screen and (max-width: 760px){
    td .claseButton{
      width: 70%;
      min-width: 0;
      font-size: 0.8rem;
    }
  }
  @media only screen and (max-width: 620px){
    td .claseButton{
      width: 70%;
      min-width: 0;
      font-size: 0.8rem;
    }

  }
  @media only screen and (max-width: 460px){
    td .claseButton{
      min-width: 0;
      width: 70px;
      font-size: 0.8rem;
    }
    thead, tr{
      width: 100vw;
    }
    th, td{
      width: 25%;
      font-size: 0.8rem;
    }
    table{
      overflow-x: auto;
      width: 100%;
      border-radius: 0;
    }
    
  }