body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  max-width: 100vw;
  background: #C5ACE6;
  /* background: linear-gradient(90deg, rgba(139, 156, 241, 1) 0%, rgba(24, 23, 77, 1) 100%); */

  color: white;
  box-sizing: border-box;
}

.playAgain {
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}

.navbar{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 10px;
  background-color: #4C326E;
}

.navbar button{
  background-color: red;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.navbar a {
  color: white;
  margin: 0 5px;
}

.active{
  color: violet!important;
}

.bodyContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}